<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CodeCatalyst" version="3.7.201.13" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.200.15" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.7.201.8" targetFramework="net472" />
  <package id="AWSSDK.SimpleNotificationService" version="3.7.200.10" targetFramework="net472" />
  <package id="bootstrap" version="3.4.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="jQuery" version="3.3.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Modernizr" version="2.8.3" targetFramework="net472" />
</packages>